body{
    background-color: #20201d;
    align-items: center;
    height: 100%;
}

.middle{
    background-color: #131515;
    padding: 10px 20px;
    display: flex;
    flex-flow: column;
    height: 100%;
    box-shadow: 1px 5px 5px 5px #191a17;
    margin: 0px 10px;
    box-sizing: border-box;
}

.construct{
    border-radius: 3px;
    overflow: hidden;
    align-self: center;
}

.team{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D8DBE2;
    display: flex;
    flex-wrap: wrap;
}

.member{
    display: flex; 
    flex-direction: row;
    margin: 10px 10px;
    
}

.rounded{
    margin-right: 10px;
    border-radius: 50px;
    padding:5px;
    background-color: #E94F37;
}
.primary{
    background-color: #53917E;
}

.secondary{
    background-color: #7D938A;
}

.tertiary{
    background-color: #E94F37;
}

.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D8DBE2;
}


@media only screen and (max-width: 800px){
    .middle{
        margin: 0px 0px;
    }

    .staff{
        flex-direction: row;
    }

    .unit{
        margin-bottom: 20px;
    }
}