body{
    background-color: #131515;
    /* background-color: #2B2C28; lighter*/
}

.rounded{
    border-radius: 50%;
    padding:5px;
    background-color: #E94F37;
}
.primary{
    background-color: #53917E;
}

.secondary{
    background-color: #7D938A;
}

.tertiary{
    background-color: #E94F37;
}

.text{
    background-color: #D8DBE2;
}
